.SocialMoreInfo{

  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  gap:83px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__btn{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 180px;
    background-color: inherit;
    border: 1px solid #535151;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    &__text{
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color:#FFFFFF;
      background:none;
      text-decoration: none;

    }
  }

}


