.ExchangeChoice{
  display: flex;
  justify-content: center;
  gap:35px;
  align-items: center;
  position: relative;
  &__vs{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#535151;
    width: 170px;
    margin-right: 18px;
    @media screen and (max-width: 600px){
      width: 52px;
      height: 86px;
      margin-right: 17px;
    }
    @media screen and (max-width: 425px){
      margin-right: 0;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (max-width: 375px) {
    flex-direction: column;
  }
  &__exchange{
      &__left{
        width:170px;
        @media screen and (max-width: 600px){
          width: 120px;
        }
      }
      &__right{
        width: 135px;
        @media screen and (max-width: 600px){
          width: 110px;
        }
      }
  }


}