.SocialGroup{
 width: 700px;
 display: flex;
  align-items: center;
  justify-content: center;
gap:2px;
  margin: 40px auto 0px;
 @media screen and (min-width: 2000px) {
  margin-top: 0;
 }
 @media screen and (max-width: 767px) {
  width: 400px;
 }
 @media screen and (max-width: 425px){
  width: 320px;
 }
 &__link{
  width: 172px;
  height: 92px;
  background: #1C191D;
  display: flex;
  align-items: center;
 justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
   width: 145px;
   height: 83px;
  }
  @media screen and (max-width: 375px){
   width: 100px;
  }
  &:hover{
   background: #2a2a30;

  }
  &:first-child{
   border-radius: 180px 0 0 180px;
  }
  &:last-child{
   border-radius:  0 180px 180px 0;
  }

  svg{
   background: none;
  }
 }




&-end{
 margin-top: 50px;
 margin-bottom: 56px;
}
}